p{
    color: white;
    font-weight: bolder;
}
div{
    display: inline-block;
}

#box {
    align-items: center;
    align-content: center;
    width: 500px;
    height: 500px;
    border-radius: 150px;
    border: 1px;
    border-color: rgb(153, 159, 159);
    border-style: solid;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: auto;
    background-color: rgb(153, 159, 159);
    padding-left: 13%;
}
#bo {
    align-items: center;
    align-content: center;
    width: 500px;
    height: 500px;
    border-radius: 150px;
    border: 1px;
    border-color: rgb(153, 159, 159);
    border-style: solid;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 130px;
    margin-right: 25px;
    background-color: rgb(153, 159, 159);
    padding-left: 13%;
}


#Proj{
    background-color: black;
    border-radius: 6px;
    padding: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-decoration-color: aqua;
}

#palin{
    background-color: black;
    border-radius: 6px;
    padding: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-decoration-color: aqua;
}
@media only screen and (max-width: 400px) {
   #box{
    margin-right: 10px;
    margin-left: 10px;
    padding-left: 110px;
    width: 400px;
    height: 300px;
    border-radius: 6%;

   }
   #bo{
    margin-right: 10px;
    margin-left: 10px;
    padding-left: 110px;
    width: 400px;
    height: 300px;
    border-radius: 6%;

   }
}


  